@model Algarve_Destino_Seguro.Models.SubTopic
@{
    WebGrid webGrid = ViewBag.webGrid;
}

@webGrid.GetHtml(
        tableStyle: "table table-hover",
        columns: webGrid.Columns(
                webGrid.Column("LanguageCode", "Idioma", format:
                        @<text>
                            <span id="LanguageCode">@item.LanguageCode</span>
                        </text>
                    ),
                webGrid.Column("TranslatedTitle", "Tradução", format:
                        @<text>
                            <span class="display-mode" id="translatedTitle">@item.TranslatedTitle</span>
                            <input class="form-control edit-mode" type="text" name="TranslatedTitle" id="TranslatedTitle" value="@item.TranslatedTitle" />
                        </text>
                    ),
                webGrid.Column("Visibility", "Visibilidade", format:
                        @<text>
                            @if (item.Visibility)
                            {
                                <span class="display-mode" id="visibility">Sim</span>
                            }
                            else
                            {
                                <span class="display-mode" id="visibility">Não</span>
                            }
                            <input class="edit-mode" type="checkbox" name="Visibility" id="Visibility" value="true" @if (item.Visibility) { @Html.Raw("checked")    } />
                            <input class="edit-mode" type="hidden" name="Visibility" value="false" />
                        </text>
                    ),
                webGrid.Column("Document", "Documento", format:
                        @<text>
                            @if (item.Document == null)
                            {
                                <span class="display-mode" id="document"><i>(não existe documento)</i></span>
                            }
                            else
                            {
                                <span class="display-mode" id="document"><a href="~/Documents/Uploads/@Path.GetFileName(item.Document)" download>Descarregar</a></span>
                            }
                            <input class="edit-mode" type="file" name="Document" id="Document" accept=".html,.htm" />
                        </text>
                    ),
                webGrid.Column(format:
                        @<text>
                            <a class="display-mode" href="@Url.Action("DetailsContent", "SubTopic", new { id = item.LanguageCode, subTopicTitle = @Model.Title, subTopicTopicTitle = Model.TopicTitle, subTopicTopicThemeTitle = Model.TopicThemeTitle})" title="Ver Mais"><span class="glyphicon glyphicon-info-sign"></span></a>
                            <a class="save-subtopiccontent edit-mode" href="javascript:void(0)" title="Guardar"><span class="glyphicon glyphicon-ok"></span></a>
                        </text>
                    ),
                webGrid.Column(format:
                        @<text>
                            <a class="display-mode edit-subtopiccontent" href="javascript:void(0)" title="Editar"><span class="glyphicon glyphicon-edit"></span></a>
                            <a class="edit-mode cancel-subtopiccontent" href="javascript:void(0)" title="Cancelar"><span class="glyphicon glyphicon-remove"></span></a>
                        </text>
                    ),
                webGrid.Column(format:
                        @<text>
                            <input class="display-mode subtopiccontent-to-delete" type="checkbox" value="@item.LanguageCode" />
                        </text>
                    )
            ),
        mode: 0
    )

@if (webGrid.Rows.Count > 0)
{
    ViewBag.WebGrid = webGrid;
    ViewBag.JSFunction = "getSubTopicContentsPage";
    Html.RenderPartial("_Pagination");
}

<script>
    // Function for table reloading (paging, ...)
    function getSubTopicContentsPage(pageNumber) {
        $.ajax({
            type: "GET",
            url: "/SubTopic/DetailsGetSubTopicContentsPage/@Html.Raw(Uri.EscapeDataString(Model.Title))?topicTitle=@Html.Raw(Uri.EscapeDataString(Model.TopicTitle))&topicThemeTitle=@Html.Raw(Uri.EscapeDataString(Model.TopicThemeTitle))&page=" + pageNumber,
            success: function (viewHTML) {
                $("#webgrid-content").html(viewHTML);
            }
        });
    }

    // SubTopic Contents function closure
    $(function () {
        // Dynamically add "Create", "Refresh" and "Delete" buttons to the table
        var ths = $("#webgrid-content > table > thead > tr > th").slice(-3);
        ths.eq(0).html(
                '<a id="add-subtopiccontent" href="javascript:void(0)" title="Adicionar"><span class="glyphicon glyphicon-plus"></span></a>'
            );
        ths.eq(1).html(
                '<a onclick="getSubTopicContentsPage(@webGrid.PageIndex)" href="javascript:void(0)" title="Actualizar"><span class="glyphicon glyphicon-refresh"></span></a>'
            );
        ths.eq(2).html(
                '<a id="delete-subtopiccontent" href="javascript:void(0)" title="Apagar Seleccionados"><span class="glyphicon glyphicon-remove"></span></a>'
            );

        // Delete selected subtopic contents
        $("#delete-subtopiccontent").on('click', function () {
            $.each($(".subtopiccontent-to-delete:checked"), function (k, v) {
                $.post(
                    '/SubTopic/DeleteContent',
                    {
                        "subTopicTopicThemeTitle": "@Html.Raw(Model.TopicThemeTitle)",
                        "subTopicTopicTitle": "@Html.Raw(Model.TopicTitle)",
                        "subTopicTitle": "@Html.Raw(Model.Title)",
                        "languageCode": v.value
                    },
                    function (subTopicContent) {
                        getSubTopicContentsPage(@webGrid.PageIndex);
                    }, "json");
            });
        })

        // Add subtopic contents
        $("#add-subtopiccontent").on('click', function () {
            // Add dynamic form to the table
            $('#webgrid-content > table > tbody').prepend(
                    '<tr>' +
                        @{
                            var options = "";
                            foreach (var language in Algarve_Destino_Seguro.Models.DBAccessor.GetLanguages())
                            {
                                options += Html.Raw("<option value=\"" + Html.Raw(language.Code) + "\">" + Html.Raw(language.Code) + "</option>");
                            }
                        }
                        '<td><select class="form-control" name="LanguageCode" id="LanguageCode">@Html.Raw(options)</select></td>' +
                        '<td><input class="form-control" type="text" name="TranslatedTitle" id="TranslatedTitle" /></td>' +
                        '<td><input type="checkbox" name="Visibility" id="Visibility" value="true" /><input type="hidden" name="Visibility" value="false" /></td>' +
                        '<td><input type="file" name="Document" id="Document" accept=".html,.htm" /></td>' +
                        '<td><a class="create-subtopiccontent" href="javascript:void(0)"><span class="glyphicon glyphicon-ok"></a></td>' +
                        '<td><a class="cancel-create-subtopiccontent" href="javascript:void(0)"><span class="glyphicon glyphicon-remove"></a></td>' +
                        '<td></td>' +
                    '</tr>'
                );

            // Post creation to database
            $('.create-subtopiccontent').on('click', function () {
                var tr = $(this).parents('tr:first');

                var document = tr.find('#Document')[0];
                var form = new FormData();
                form.append("SubTopicTopicThemeTitle", "@Html.Raw(Model.TopicThemeTitle)");
                form.append("SubTopicTopicTitle", "@Html.Raw(Model.TopicTitle)");
                form.append("SubTopicTitle", "@Html.Raw(Model.Title)");
                form.append("LanguageCode", tr.find('#LanguageCode').val());
                form.append("TranslatedTitle", tr.find('#TranslatedTitle').val());
                form.append("Visibility", (tr.find('#Visibility:checked').length > 0) ? "true" : "false");
                form.append("Document", document.files[0], document.value);

                $.ajax({
                    url: '/SubTopic/CreateContent',
                    type: 'POST',
                    processData: false,
                    contentType: false,
                    dataType: 'json',
                    data: form
                });

                tr.remove();
            });

            // Cancel subtopic content creation
            $('.cancel-create-subtopiccontent').on('click', function () {
                $(this).parents('tr:first').remove();
            });
        });

        // Edit subtopic content closure
        $(function () {
            // Hide al the edit-mode forms
            $(".edit-mode").hide();

            // Toggle a theme content for edition
            $('.edit-subtopiccontent').on('click', function () {
                $(this).parents('tr:first').find('.edit-mode, .display-mode').toggle();
            });

            // Post changes to databse
            $('.save-subtopiccontent').on('click', function () {
                var tr = $(this).parents('tr:first');

                var document = tr.find('#Document')[0];
                var form = new FormData();
                form.append("SubTopicTopicThemeTitle", "@Html.Raw(Model.TopicThemeTitle)");
                form.append("SubTopicTopicTitle", "@Html.Raw(Model.TopicTitle)");
                form.append("SubTopicTitle", "@Html.Raw(Model.Title)");
                form.append("LanguageCode", tr.find('#LanguageCode').text());
                form.append("TranslatedTitle", tr.find('#TranslatedTitle').val());
                form.append("Visibility", (tr.find('#Visibility:checked').length > 0) ? "true" : "false");
                form.append("Document", document.files[0], document.value);


                $.ajax({
                    url: '/SubTopic/EditContent',
                    type: 'POST',
                    processData: false,
                    contentType: false,
                    dataType: 'json',
                    data: form,
                    success: function (subTopicContent) {
                        tr.find('#translatedTitle').text(subTopicContent.TranslatedTitle);

                        if (subTopicContent.Visibility) {
                            tr.find('#visibility').text('Sim');
                        } else {
                            tr.find('#visibility').text('Não');
                        }

                        if (!subTopicContent.DocumentPath) {
                            tr.find('#document').html('<i>(não existe documento)</i>');
                        } else {
                            var path = subTopicContent.DocumentPath.split('\\').pop();
                            tr.find('#document').html('<a href="/Documents/Uploads/' + path + '" download>Descarregar</a>');
                        }
                    }
                });

                tr.find('.edit-mode, .display-mode').toggle();
            });

            // Cancel changes
            $('.cancel-subtopiccontent').on('click', function () {
                $(this).parents('tr:first').find('.edit-mode, .display-mode').toggle();
            });
        });
    })
</script>